<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="com.springapp.mvc"/>

    <task:scheduled-tasks>
        <task:scheduled ref="morningTask" method="execute" cron="0 20 9 * * *"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>
        <task:scheduled ref="fivemTask" method="getBonus" cron="0 28 9 * * *"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>
        <task:scheduled ref="priceData" method="execute" cron="0 30 15 * * *"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>
        <task:scheduled ref="weightData" method="execute" cron="0 30 16 * * *"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>
        <task:scheduled ref="buyTask" method="execute" cron="0 58 14 * * *"/>
    </task:scheduled-tasks>

    <task:scheduled-tasks>
        <task:scheduled ref="basicData" method="execute" cron="0 50 8 * * *"/>
    </task:scheduled-tasks>





    <!-- DB配置 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://123.57.59.230:3306/datacenter?characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="filters" value="stat"/>
        <property name="maxActive" value="1000"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="3000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
    </bean>



    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/configuration.xml"/>
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
        <constructor-arg index="0" ref="sqlSessionFactory"/>
        <constructor-arg index="1" value="REUSE"/>
    </bean>

</beans>